body {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1008px;
    margin: 1.5em;
    /* UI Properties */
  }
  
  nav {
    display: none;
  }
  .container {
    display: flex;
  }
  
  .navbar {
    top: 45px;
    left: 120px;
    width: 1200px;
    height: 56px;
    /* UI Properties */
    opacity: 1;
    position: top;
  
  }
  
  .maincol{
      top: 0px;
      left: 0px;
      width: 1440px;
      height: 1008px;
      background:transparent linear-gradient(270deg, #821FFD1A 0%, #402062F2 57%, #200641 100%) 0% 0% no-repeat padding-box;
      opacity: 0.93;   
      
      
  
  }
  .heading{
      top: 223px;
  left: 120px;
  width: 756px;
  height: 135px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 55px/68px Montserrat;
  letter-spacing: 1.1px;
  color: #FFFFFF;
  opacity: 1;
  position: left;
  }
  
  .hero-cta{
      top: 470px;
  left: 120px;
  width: 414px;
  height: 58px;
  /* UI Properties */
  background: #FF4591 0% 0% no-repeat padding-box;
  opacity: 1;
  }
  .hero-img{
      background:url(Img/Group\ 13080.png);
      width: auto;
      height: auto;
      z-index: index -1;
  }
  
  